body, html {
    font-family: Arial;
    font-size: 13px;
    width: 1250px;
}

#nav {
    word-spacing: 11px;
    margin: -5px 500px 0px 127px;
}

.marked {
    font-weight:bold;
}

#yandex_logo {
    margin: 7px 0px 0px 9px;
}

#answers_found {
    text-align: center;
    margin: -10px 1137px 0px 0px;
}

#search_background {
    margin: -130px 0px 17px 121px;
}

#y_search_line {
    position: relative;
    left: 125px;
    bottom:74px;
}

#search_but {
    position: relative;
    left: 130px;
    bottom: 74px;
}

#checkbox {
    margin: -72px 0px 0px 125px;
    vertical-align: 10px;
}

#advanced_search {
    position:absolute;
    left: 550px;
    bottom: 616px;
}

#advanced_search:link {color:#BE8E0E;}
#advanced_search:visited {color:#BE8E0E;}
#advanced_search:hover {color:#FF0000;}